body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* i have to add font here */
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}
#header {
  background-color: #fbe9c1;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li a {
  height: 40px;
  margin-left: 10px;
  padding: 0 20;
}

.getintouch {
  background-color: #2d3e50;
  margin: 10px;
  padding: 10px;
  border: 3px black solid;
  border-radius: 50px;
}
.getintouch:hover {
  color: white;
}
