/* todo
meaningful name of classes and var.
add commints.
html and css
push code to git and send the link to uncle 
*/


:root {
  --mycolor: #0fbcf9;
  --btncolor: #2d3e50;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* i have to add font here */
  font-family: 'Ubuntu Mono', monospace;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

#header {
  background-color: #fbe9c1;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--mycolor);
  color: black;
}
.link1 {
  text-decoration: none;
  padding: 10px 50px;
  background-color: var(--btncolor);
  color: white;
  border: 3px black solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.link1:hover{
  color:black;
  background-color: white;
}
nav ul {
  display: flex;
}

.logo {
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: blue;
  font-size: 40px;
}

nav ul li a {
  height: 40px;
  padding: 0 20px;
  letter-spacing: 2px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: black;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.getintouch {
  background-color: var(--btncolor);
  margin: 10px;
  padding: 10px;
  border: 3px black solid;
  border-radius: 50px;
  color: white;
}
.getintouch:hover {
  color: black;
  background-color: white;
}

.img img {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 20px;
}

.text {
  position: absolute;
  left: 400px;
  top: 100px;
  margin: 50px;
  text-align: center;
}
.sec {
  display: flex;
}

.img1 img {
  width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.head1 {
  margin-left: 100px;
}

.icons {
  position: relative;
  left: 500px;
  display: flex;
  flex-direction: column;
}
.p {
  text-align: center;
}

.head {
  margin-left: 10px;
}

.icon {
  margin-top: 105px;
  margin-right: 200px;
  color: blue;
}
.ico {
  text-align: center;
}
.link3 {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 1px;
  border: 3px black solid;
  background-color: var(--btncolor);
  padding: 10px;
  margin-left: 430px;
  border-radius: 10px;
}
.link3:hover {
  background-color: white;
  color: black;
}
.sec1 {
  text-align: center;
}
.link4 {
  color: blue;
  text-decoration: underline;
}
.link4:hover {
  color: black;
}

.sec2 {
  text-align: center;
}

.link5 {
  text-decoration: none;
  background-color: var(--btncolor);
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 3px solid black;
}

.link5:hover {
  background-color: white;
  color: black;
}
