.username {
  background-color: blue;
  color: white;
}
.picture {
  width: 200px;
  border: 3px black solid;
}

.introduction {
  background-color: rgb(216, 191, 216);
  text-align: center;
}

.link {
  background-color: chartreuse;
  color: black;
  border: black 2px solid;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.link:hover {
  color: white;
  background-color: black;
}

.skill2 {
  background-color: blue;
  color: white;
}

.skill1 {
  background-color: rgb(216, 191, 216);
}
.exp1 {
  background-color: rgb(216, 191, 216);
}
.exp2 {
  background-color: blue;
  color: white;
}
.edu1 {
  background-color: rgb(216, 191, 216);
}
.edu2 {
  background-color: blue;
  color: white;
}
.con1 {
  background-color: rgb(216, 191, 216);
}
.con2 {
  background-color: blue;
  color: white;
}
